<section
  id="home"
  class="relative h-auto min-h-screen flex items-center px-6 md:px-12 lg:px-20 py-12 md:py-20 pt-28"
>
  <div
    class="container mx-auto relative z-10 flex flex-col lg:flex-row items-center justify-between gap-16 lg:gap-24"
  >
    <!-- Columna de texto -->
    <div class="w-full max-w-xl mx-auto text-center lg:text-left">
      <h1
        class="text-4xl md:text-5xl lg:text-6xl font-bold text-eco-500 leading-tight"
      >
        <span class="text-gold">Construimos</span> el Hogar
        <span class="text-gold">de</span> Tus sueños
      </h1>

      <p class="text-lg md:text-xl text-eco-dark mt-6 text-pretty">
        Diseño <span class="text-gold font-medium">consultoría</span> y construcción
        de proyectos residenciales y comerciales
        <span class="font-medium text-eco-brown">
          con los más altos estándares</span
        >
        de <span class="font-medium text-eco-sky">calidad</span>.
      </p>

      <div
        class="mt-10 flex flex-col sm:flex-row gap-4 sm:gap-6 justify-center lg:justify-start"
      >
        <a
          href="#contact"
          class="bg-eco-brown text-black font-semibold px-8 py-3 sm:px-10 sm:py-4 text-lg rounded-full transition-all duration-300 shadow-md
            hover:bg-gold-dark hover:shadow-lg focus:ring-4 focus:ring-gold-light focus:outline-none"
        >
          Diseños Modelo
        </a>

        <a
          href="https://wa.me/50683196472"
          class="border-2 border-gold text-gold font-semibold px-8 py-3 sm:px-10 sm:py-4 text-lg rounded-full transition-all duration-300 shadow-md
            hover:bg-gold hover:text-black hover:shadow-lg focus:ring-4 focus:ring-gold-light focus:outline-none"
        >
          Contacto Directo
        </a>
      </div>
    </div>

    <!-- Columna de imagen -->
    <div class="w-full max-w-xl mx-auto flex flex-col gap-6">
      <!-- Nueva imagen -->
      <img
        src="/img.jpg"
        alt="Sello de confianza"
        class="mx-auto w-full rounded-xl shadow-md"
        loading="lazy"
      />
      <!-- Imagen del lema -->
      <img
        src="/lema.jpeg"
        alt="Lema Construhomes"
        class="mx-auto w-full rounded-xl shadow-xl -mt-8"
        loading="lazy"
      />
    </div>
  </div>
</section>
