---
import "../styles/global.css";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <div
      class="absolute inset-0 h-[100vh] z-[-1] animate-grid-move
	bg-[linear-gradient(to_right,#5b703a1f_1px,transparent_1px),linear-gradient(to_bottom,#5b703a1f_1px,transparent_1px)]
	bg-[size:80px_80px]"
    >
    </div>

    <Header />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
